body {
    background-color: #1565c0;
}

main {
    background-color: #1565c0;
    height: 100%;
    width: 100%;
}

section {
    background-color: #EEEEEE;
    height: 50vh;
    width: 42vw;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.2);
}

h1 {
    position: absolute;
    width: 100%;
    margin-top: 5vh;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7em;
    font-weight: 400;
    text-align: center;
}

form {
    text-align: center;
    height: 10vh;
    padding-top: 19vh;
}

input {
    width: 15vw;
    font-family: 'Roboto', sans-serif;
}

input[name="password"] {
    background-color: #FFFFFF;
    height: 6vh;
    padding: 10px;
    border: none;
}

input[name="submit"] {
    background-color: #ff9800;
    height: 5vh;
    margin-top: 10px;
    margin-bottom: 15px;
    border: none;
    cursor: pointer;
    font-weight: 400;
    font-size: .9em;
}

input[name="remember"] {
    padding: 0;
    margin: 0;
    width: auto;
    margin-right: 5px;
}